input {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
}

button.submit-button {
  height: 50px;
}

.input-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}